# Игнорировать файлы конфигурации Jupyter Notebook
.ipynb_checkpoints/

# Игнорировать файлы с данными
data/

# Игнорировать файлы с данными модели
model/

# Игнорировать файлы с кэшем
tools/scripts/__pycache__