# Игнорировать файлы конфигурации Jupyter Notebook
.ipynb_checkpoints/

# Игнорировать файлы с данными
data/

# Игнорировать файлы с данными модели
model/

# Игнорировать файлы model weight
scripts/model/

# Игнорировать тестовый ноутбук
scripts/notebook_for_testing.ipynb

# Игнорировать пустые файлы в папке тулс - позже я перекину туда датасеты, модели, и в основных файлах буду импортировать
scripts/tools

# Игнорировать config.py тк пока что задание не требует осмысленности - позже там появятся пути модели, данных, и различные параметры
scripts/config.py